ion-menu-button {
  color: #ffffff;
}
.topo{
display: flex;
background: #0D53FC;
width: 100%;
min-height: var(--min-height);
}
.tera {
  display: block;
  height: 100%;
  width: 100%;
  text-decoration: none;
  color: #ffffff;
}
img.not-icon{
  position: relative;
  width: 30px;
  height: 30px;
  margin-top: 13px;
  margin-right: 10px;
}
ion-content{
  .background{
    position: absolute;
    background: #E6E7E9;
    width: 100vw;
    height: 100vh;
    font-size: 24px;
  }
  .publi{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  h1{
    margin-left: 50px;
    margin-right: 30px;
    font-size: 40px;
    color: #4B4B4B;
  }
  .pesq{
    background: #fff;
    width: 300px;
    height: 40px;
    margin-top: 30px;
    font-size: 14px;
    color: #7d7d7d;
    border-radius: 5px;
    border: 1px solid #7d7d7d;
  }
  .input-data{
    background: #fff;
    display: flex;
    margin-left: 100px;
    width: 170px;
    height: 30px;
    border: 1px solid #7d7d7d;
  }
  .input-data::-webkit-calendar-picker-indicator {
    filter: invert(1);
    color: #7d7d7d; /* Cor desejada para o item do calendário */
  }
  .selectPsico{
    background: #fff;
    display: flex;
    margin-top: 10px;
    width: 380px;
    height: 30px;
    border: 1px solid #7d7d7d;
  }
  .cabecalho{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
    width: 380px;
    height: 30px;
    background: #d9d9d9;
    font-size: 14px;
    color: #000;
  }
  .corpo{
    display: flex;
    width: 380px;
    height: 30px;
    background: #fff;
    font-size: 14px;
    color: #6a6a6a;
    border: 1px solid #d9d9d9;
  }
  .adc{
    --background: #0BDA0B;
    width: 120px;
    height: 40px;
    border-radius: 5px;
  }
}
