<ion-header [translucent]="true" class="header">
  <ion-toolbar>
    <div class="topo">
    <ion-buttons slot="start">
      <ion-menu-button class=""></ion-menu-button>
    </ion-buttons>
    <ion-title><a href="#" [routerLink]="['/home-paciente']" class="tera">Terappeuta</a></ion-title>
    <a href="#" [routerLink]="['/notificacoes']"><img class="not-icon" src="assets/icon/alarm_alert.png"></a>
  </div>
</ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

    <ion-list class="background">

      <ion-card class="cardBack" *ngFor="let publicacao of publicacoes | async">
          <ng-container *ngFor="let use of usuarios | async">
          <ion-card-title class="title" *ngIf=" publicacao.idUser === use.id ">
              <img class="imgPost" src="assets/foto2.jpg">
              <div class="divt">
                <p class="pPost">{{ use.nome }}</p>
                <p class="datapubli">{{ publicacao.data.split('-')[1] + '/' + publicacao.data.split('-')[2] + '/' + publicacao.data.split('-')[0] | date:'dd/MM/yyyy' }}, {{ publicacao.hora }}</p>
              </div>
          </ion-card-title>
        </ng-container>


        <ion-card-content>
          <p class="conteudoPost">{{ publicacao.conteudo }}</p>
        </ion-card-content>
      </ion-card>
    </ion-list>

</ion-content>
