<ion-content [fullscreen]="true">
  <div class="background">
    <div class="publi">
      <div class="btn">
        <ion-button class="btn1" [routerLink]="['/login']">Profissional</ion-button>
        <ion-button class="btn2" [routerLink]="['/login-paciente']">Paciente</ion-button>
      </div>
      <h1>Bem-Vindo</h1>
      <img class="publi" src="assets/psicologos_e_psicologia.png">
      <input class="campo" placeholder="E-mail">
      <input class="campo" placeholder="Senha" type="password">
      <ion-button class="btn3" [routerLink]="['/home']">Login</ion-button>
    </div>
  </div>
</ion-content>
