ion-menu-button {
  color: #ffffff;
}
.topo{
display: flex;
background: #0D53FC;
width: 100%;
min-height: var(--min-height);
}
.tera {
  display: block;
  height: 100%;
  width: 100%;
  text-decoration: none;
  color: #ffffff;
}
img.not-icon{
  position: relative;
  width: 30px;
  height: 30px;
  margin-top: 13px;
  margin-right: 10px;
}
ion-content{
  .background{
    position: absolute;
    background: #E6E7E9;
    width: 100vw;
    height: 100vh;
    font-size: 24px;
  }
  .publi{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  h1{
    margin-left: 50px;
    margin-right: 30px;
    font-size: 40px;
    color: #4B4B4B;
  }
  .historic{
    display: inline-flex;
    font-size: 14px;
    margin-top: 10px;
    margin-left: 10px;
    color: #6a6a6a;
  }
  .historicIcon{
    width: 25px;
    height: 25px;
  }
  b.historic{
    margin-top: 4px;
  }
  .time{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  }
  .dia{
    display: inline-flex;
  }
  b.dia{
    font-size: 14px;
    margin-left: 10px;
    margin-top: 5px;
    color: #6a6a6a;
  }
  .hora{
    display: inline-flex;
    margin-left: 30px;
  }
  b.hora{
    font-size: 14px;
    margin-left: 10px;
    margin-top: 5px;
    color: #6a6a6a;
  }
  p{
    font-size: 16px;
    margin-left: 10px;
    margin-top: 30px;
  }
  .emocoes{
    display: inline-flex;

  }
  .mFeliz{
    width: 50px;
    height: 50px;
    margin: 10px 10px -10px 30px;
  }
  p.mFeliz{
    font-size: 10px;
    color: #E65C00;
  }
  .feliz{
    width: 48px;
    height: 48px;
    margin: 11px 10px -10px 10px;
    text-align: center;
  }
  p.feliz{
    font-size: 10px;
    color: #FF7200;
  }
  .indiferente{
    width: 52px;
    height: 52px;
    margin: 9px 10px -10px 10px;
  }
  p.indiferente{
    font-size: 10px;
    color: #9E9595;
  }
  .triste{
    width: 48px;
    height: 48px;
    margin: 10px 10px -10px 10px;
    text-align: center;
  }
  p.triste{
    font-size: 10px;
    color: #0521FA;
  }
  .mTriste{
    width: 50px;
    height: 50px;
    margin: 10px 10px -10px 10px;
    text-align: center;
  }
  p.mTriste{
    font-size: 10px;
    color: #070085;
  }
  .textarea{
    width: 370px;
    height: 200px;
    margin-left: 20px;
    background: #fff;
  }
  .btndiv{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .btn{
    --background: #0D53FC;
    width: 100px;
    height: 40px;
    color: #ffffff;
    border-radius: 5px;
    margin-top: 20px;
  }
}
