

<ion-app>
  <ion-menu contentId="main-content" type="overlay">
    <ion-content >
      <ion-list >
        <div class="background">
          <ion-list-header>Inbox</ion-list-header>
          <ion-note>hi@ionicframework.com</ion-note>
        </div>

            <ion-menu-toggle   >
              <ion-item  *ngFor="let p of appPages; let i = index">
                <ion-label routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" >{{ p.title }}</ion-label>
              </ion-item>
              <ion-button class="btSair" color="danger" [routerLink]="['/login']"  size="small">Sair</ion-button>
            </ion-menu-toggle>
          </ion-list>
        </ion-content>
      </ion-menu>

    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-app>


