<ion-header [translucent]="true" class="header">
  <ion-toolbar>
    <div class="topo">
    <ion-buttons slot="start">
      <ion-menu-button class=""></ion-menu-button>
    </ion-buttons>
    <ion-title><a href="#" [routerLink]="['/home']" class="tera">Terappeuta</a></ion-title>
    <a href="#" [routerLink]="['/notificacoes']"><img class="not-icon" src="assets/icon/alarm_alert.png"></a>
  </div>
</ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="background" *ngFor="let paciente of pacientes">
    <div class="publi">
      <img class="fotoPerfil" src="assets/foto3.jpg">
    </div>
    <div class="info">
      <p>Nome:</p>
      <ion-label class="label">{{ paciente.nome }}</ion-label>
      <p>Telefone:</p>
      <ion-label class="label">{{ paciente.telefone }}</ion-label>
      <p>E-mail:</p>
      <ion-label class="label">{{ paciente.email }}</ion-label>
      <p>Data de Nascimento:</p>
      <ion-label class="label">{{ paciente.nascimento }}</ion-label>
    </div>

    <div class="plano">
      <h2>Plano Financeiro</h2>
      <div id="campo-plano">
        <div class="div-esquerda">
          <p>Plano</p>
          <ion-label class="label">{{ paciente.plano }}</ion-label>
        </div>
        <div class="div-direita">
          <p>valor</p>
          <ion-label class="label">R${{ paciente.valor }}</ion-label>
        </div>
      </div>
    </div>

  </div>

</ion-content>
