<ion-header [translucent]="true" class="header">
  <ion-toolbar>
    <div class="topo">
    <ion-buttons slot="start">
      <ion-menu-button class=""></ion-menu-button>
    </ion-buttons>
    <ion-title><a href="#" [routerLink]="['/home']" class="tera">Terappeuta</a></ion-title>
    <a href="#" [routerLink]="['/notificacoes']"><img class="not-icon" src="assets/icon/alarm_alert.png"></a>
  </div>
</ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="background">
    <h1>Cadastro</h1>
    <div class="publi">
      <p>Nome</p>
      <input class="cxNome">

      <div id="campo">
        <div class="um">
          <p>Telefone</p>
          <input>
        </div>
        <div>
          <p>Data de nascimento</p>
          <input>
        </div>
      </div>

      <div id="campo">
        <div>
          <p>CPF</p>
          <input>
        </div>
        <div>
          <p>RG</p>
          <input>
        </div>
      </div>

      <p>Gênero</p>
      <select class="cxNome">
        <option>Selecione</option>
        <option>Masculino</option>
        <option>Feminino</option>
        <option>Outro</option>
      </select>

      <div class="plano">
        <h2>Plano Financeiro</h2>
        <div id="campo-plano">
          <div>
            <p>Plano</p>
            <input class="meuInput">
          </div>
          <div>
            <p>valor</p>
            <input class="meuInput">
          </div>
        </div>

      </div>
    </div>

    <ion-button class="btn1">Salvar</ion-button>
    <ion-button class="btn2">Cancelar</ion-button>

  </div>
</ion-content>
