<ion-header [translucent]="true" class="header">
  <ion-toolbar>
    <div class="topo">
    <ion-buttons slot="start">
      <ion-menu-button class=""></ion-menu-button>
    </ion-buttons>
    <ion-title><a href="#" [routerLink]="['/home-paciente']" class="tera">Terappeuta</a></ion-title>
    <a href="#" [routerLink]="['/notificacoes']"><img class="not-icon" src="assets/icon/alarm_alert.png"></a>
  </div>
</ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="background">
    <div class="publi">
      <h1>Acompanhameto</h1>
      <input class="pesq" type="text" placeholder="Pesquisar..." [(ngModel)]="searchTerm" (keyup)="search(searchTerm)">
      <div>
        <ion-grid>
          <ion-row class="cabecalho">
            <ion-col>Nome</ion-col>

          </ion-row>
            <ion-row [routerLink]="['/det-psicologo']" class="corpo" *ngFor="let psi of (searchTerm ? searchResults : psicologo) | async">
              <ion-col>{{psi.nome}}</ion-col>

            </ion-row>
        </ion-grid>
      </div>


    </div>
  </div>

</ion-content>
