<ion-header [translucent]="true">
  <ion-toolbar>
    <div class="topo">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title><a href="#" [routerLink]="['/home']" class="tera">Terappeuta</a></ion-title>
    <a href="#" [routerLink]="['/notificacoes']"><img class="not-icon" src="assets/icon/alarm_alert.png"></a>
  </div>
</ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="publi">
    <a href="#" [routerLink]="['/publicacao']" class="fill-div">
      <img class="publi" src="assets/foto2.jpg">
      <p class="p">Gostaria de compartilhar algo?</p>
      <img class="icon"  src="assets/icon/image_icon.png">
    </a>
  </div>

    <ion-list class="background">

      <ion-card class="cardBack" *ngFor="let publicacao of publicacoes | async">
        <ion-card-header  *ngFor="let user of usuario | async">
          <ion-card-title class="title">
            <img class="imgPost" src="assets/foto2.jpg">
            <p class="pPost">{{ user.nome }}</p>
            <p class="datapubli">{{ publicacao.data.split('-')[1] + '/' + publicacao.data.split('-')[2] + '/' + publicacao.data.split('-')[0] | date:'dd/MM/yyyy' }}, {{ publicacao.hora }}</p>
          </ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p class="conteudoPost">{{ publicacao.conteudo }}</p>
        </ion-card-content>
      </ion-card>
    </ion-list>

</ion-content>
